/* Temporary!!! :333 */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600&family=Source+Sans+3:wght@400;600&display=swap');

:root {
    --text: #000000;
    --subtext: #999999;
}

h1, h2, h3, h4, p {
    font-family: "Source Sans Pro", "Source Sans 3", /* KILL YOURSELF */ sans-serif;
    margin: 0;
    color: var(--text)
}

body {
    margin: 0;
}

/* idk what i'm doing here */

section.darkBkg {
    --text: #DDDDDD;
    --subtext: #AAAAAA;
}

@media screen and (max-width: 600px) {
    section.but-not-on-mobile {
        --text: #DDDDDD;
        --subtext: #AAAAAA;
    }

    section.darkBkg.but-not-on-mobile {
        --text: #000000;
        --subtext: #999999;
    }
}

section > img.background {
    --blur-amt: 8px;
    --cropped: calc( 100% + ( calc( var(--blur-amt) * 2 ) ) );
    filter: blur(var(--blur-amt)) brightness(0.75);
    object-fit: cover;
    position:absolute;
    left:calc(0px - var(--blur-amt) );
    top:calc(0px - var(--blur-amt) );
    width:var(--cropped);
    height:var(--cropped);
    z-index:-1;
}

section {
    /* bad workaroudn but who cares */
    width:calc( 100% - 30px );
    padding: 0 15px;
    display:grid;
    gap: 30px;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    position:relative;
    overflow:clip;
}

section > div {
    flex-basis: 50%;
    margin: auto 0;
}

.about_this_section {
    text-align: right;
}

@media screen and (max-width: 600px) {
    h1, h2, p {
        text-align: center;
    }

    section {
        grid-auto-flow: row;
        grid-auto-rows: 1fr;
    }

    section > .about_this_section {
        flex-basis:30%;
    }

    .section_contents > * {
        position:relative;
        transform: translateX(-50%);
        left:50%;
    }

    /* fixes on mobile for some reason lol
       god this is horrible what am i doing */
    section {
        display:grid;
    }
}

section {
    height: 50vh;
}

@media screen and (max-width: 600px) {
    section {
        flex-direction: column;
        height: 100vh;
    }
}

/* color_display */

.big.color_display {
    width: 200px;
}

.small.color_display {
    width: 25px;
    position:relative;
}
                                   /* poor workaround but that's OK! */
.small.color_display:not(:hover) > figcaption {
    display: none;
}

.small.color_display > figcaption {
    position:absolute;
    padding: 5px 10px;
    background-color: #666666;
    --text: #DDDDDD;
    --subtext: #AAAAAA;
    left:50%;
    transform:translateX(-50%);
    border-radius:4px;
}

.small.color_display > figcaption > h4 {
    white-space: nowrap;
}


@media screen and (max-width: 600px) {
    .big.color_display {
        width: 150px;
    }
}

.color_display {
    margin: 0;
}

.color_display > svg {
    width: 100%;
    height:auto;
    border-radius: 10000px; /* relative KILLS it !!! */
}

.color_display > figcaption > h3 {
    font-family: "Inconsolata", monospace;
    text-align: center;
}

.color_display > figcaption > h4 {
    font-style: oblique;
    text-align: center;
    font-weight: 400;
    color: var(--subtext);
}

/* Primary colors */

#primary > .section_contents > div {
    display: flex;
    width: 100%;
    justify-content: left;
    gap: 10px;
}

@media screen and (max-width: 600px) {
    #primary > .section_contents > div {
        justify-content: center;
    }
}

/* Display */

.display {
    width: fit-content;
    margin: 0;
    max-width: calc(100vw - 40px);
}

.display > div {
    display: flex;
    gap: 10px;
}

.display > div > video, .display > div > img {
    border-radius: 16px;
    border: 1px solid gray;
    height: 25vh;
    object-fit: cover;
    max-width: 100%;
}

.display > figcaption {
    margin-top: 5px;
}

.display > figcaption > * {
    text-align:center;
}

.display > figcaption > h4 {
    font-family: "Inconsolata", monospace;
    font-weight: 400;
    color: var(--subtext);
}