/* Temporary!!! :333 */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600&family=Source+Sans+3:wght@400;600&display=swap');

:root {
    --text: #000000;
    --subtext: #999999;
}

h1, h2, h3, h4, p {
    font-family: "Source Sans Pro", "Source Sans 3", /* KILL YOURSELF */ sans-serif;
    margin: 0;
    color: var(--text)
}

body {
    margin: 0;
}

section {
    /* bad workaroudn but who cares */
    width:calc( 100% - 30px );
    padding: 0 15px;
    display:grid;
    gap: 30px;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

section > div {
    flex-basis: 50%;
    margin: auto 0;
}

.about_this_section {
    text-align: right;
}

@media screen and (max-width: 600px) {
    h1, h2, p {
        text-align: center;
    }

    section {
        grid-auto-flow: row;
        grid-auto-rows: 1fr;
    }

    section > .about_this_section {
        flex-basis:30%;
    }

    .section_contents > * {
        position:relative;
        transform: translateX(-50%);
        left:50%;
    }

    /* fixes on mobile for some reason lol
       god this is horrible what am i doing */
    section {
        display:grid;
    }
}

section {
    height: 50vh;
}

@media screen and (max-width: 600px) {
    section {
        flex-direction: column;
        height: 100vh;
    }
}

/* big color_display */

.big.color_display {
    width: 200px;
}

@media screen and (max-width: 600px) {
    .big.color_display {
        width: 150px;
    }
}

.big.color_display {
    margin: 0;
}

.big.color_display > svg {
    width: 100%;
    height:auto;
    border-radius: 10000px; /* relative KILLS it !!! */
}

.big.color_display > figcaption > h3 {
    font-family: monospace;
    text-align: center;
}

.big.color_display > figcaption > h4 {
    font-style: oblique;
    text-align: center;
    font-weight: 400;
    color: var(--subtext);
}

/* Primary colors */

#header > .section_contents > div {
    display: flex;
    width: 100%;
    justify-content: left;
    gap: 10px;
}

@media screen and (max-width: 600px) {
    #header > .section_contents > div {
        justify-content: center;
    }
}